h1 {
    font-size: 1.5rem;
    font-weight: 750;
    padding: 0 1rem;
}

p {
    font-size: 1rem;
    padding: 0 1rem;
}

a {
    text-decoration: none;
    color: var(--light-blue);
    font-weight: 600;
    padding: .5rem 0;
}

form {
    display: flex !important;
    flex-direction: column;
    gap: 1rem;
    padding: .5rem 1rem;

    .error {
        color: var(--dark-red);
        font-weight: 600;
    }

    input {
        padding: 1rem .5rem;
        border-radius: .5rem;
        border: 2px solid var(--gray);
    }

    button {
        background-color: var(--light-blue);
        color: var(--white);
        font-weight: 600;
        padding: 1rem 3rem;
        border-radius: .5rem;
    }
}

.otherActions {
    display: flex !important;
    flex-direction: column;
    padding: .5rem 1rem;

    button {
        background-color: var(--dark-dark-red);
        color: var(--white);
        font-weight: 600;
        padding: 1rem 3rem;
        border-radius: .5rem;
    }
}