.tablesMain {
    h1 {
        font-size: 1.5rem;
        font-weight: 750;
        padding: 0 1rem;
    }
    
    .tablesSectionContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 1rem;
        padding: 1rem;
        width: calc(100% - 2rem);
        height: 100%;
        gap: 1rem;
        overflow-y: scroll;
        border: 1px solid var(--black);
        border-radius: .5rem;
    
        .tableBtn {
            min-width: calc(50% - .5rem);
            flex: 1;
            height: auto;
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            justify-content: center;
            padding: 2rem 0;
            /* border: 1px solid var(--black); */
            border-radius: .5rem;
            font-weight: 600;
            background-color: var(--light-gray);
    
            &:active {
                background-color: var(--light-blue);
                color: var(--white);
            }
    
            &:disabled {
                background-color: var(--gray);
                color: var(--white);
                cursor: not-allowed;
            }
        }
    
        .waiter-checkbox {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            min-width: calc(50% - .5rem);
            flex: 1;
            padding: 1rem;
            background-color: var(--light-gray);
            border-radius: .5rem;
            font-weight: 600;
            cursor: pointer;
            gap: .5rem;
    
            button {
                background-color: var(--dark-red);
                padding: 0.5rem;
                width: auto;
                height: auto;
                color: var(--white);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: .5rem;

                &:disabled {
                    background-color: var(--gray);
                    color: var(--white);
                    cursor: not-allowed;
                    border: 1px solid var(--black);
                }
            }
        }
        
        .waiter-checkbox input[type="checkbox"] {
            display: none;
        }
        
        .waiter-checkbox:has(input:checked) {
            background-color: var(--light-blue);
            color: var(--white);
        }
        
        .waiter-checkbox:has(input:disabled) {
            background-color: var(--gray);
            color: var(--white);
            cursor: not-allowed;
        }
    }
}