.sectionsScroller {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    min-height: max-content;
    height: auto;
    padding: .5rem 1rem;
    gap: 1rem;
    overflow-x: scroll;
    overflow-y: hidden;
    font-weight: 600;

    .sectionScrollerBtn {
        background-color: var(--white);
        border: 2px solid var(--black);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 4px .5rem;
        border-radius: .5rem;
        height: auto;
        width: auto;
    }

    .sectionScrollerBtn:active {
        background-color: var(--dark-dark-red);
        color: var(--white);
    }
}

.products {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: auto;
}

section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: .5rem 1rem;
    width: 100%;
    height: auto;
    gap: 0.5rem;

    h1 {
        font-weight: 600;
        font-size: 1.25rem;
    }

    .categoryProducts {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        overflow-x: scroll;
        width: 100%;
        height: auto;

        .product {
            border: 2px solid var(--black);
            border-radius: 1rem;
            width: fit-content;
            height: auto;
            overflow: hidden;
            min-width: 16rem;
            cursor: pointer;
    
            .name {
                display: flex;
                flex-direction: row;
                padding: .5rem 1rem;
                background-color: var(--gray);
                width: 100%;
                height: auto;
                word-break: break-all;
                font-weight: 600;
            }
    
            .price-tag {
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                justify-content: space-between;
                padding: .5rem 1rem;
                width: 100%;
                height: auto;
    
                .price {
                    font-weight: 600;
                }
    
                .tag {
                    font-size: 0.75rem;
                }
            }
    
            .btns {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: .5rem 1rem;
                width: 100%;
                height: auto;
    
                button {
                    border: 2px solid var(--light-blue);
                    border-radius: .5rem;
                    color: var(--light-blue);
                    font-weight: 600;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    padding: .5rem;
                    width: fit-content;
                    height: fit-content;

                    img {
                        width: 1rem;
                        height: 1rem;
                        fill: var(--light-blue);
                    }
                }
    
                .quantitySelector {
                    display: flex;
                    flex-direction: row;
                    gap: 0.5rem;
    
                    p {
                        color: var(--light-blue);
                        width: auto;
                        height: auto;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        font-weight: 600;
                    }
    
                    .quantityBtns {
                        display: flex;
                        flex-direction: row;
                        border-radius: .5rem;
                        border: 2px solid var(--light-blue);
                        align-items: center;
                        justify-content: space-between;
                        height: auto;
                        position: relative;
    
                        &::after {
                            content: '';
                            display: block;
                            width: 2px;
                            height: 100%;
                            background-color: var(--light-blue);
                            top: 0;
                            left: calc(50% - 1px);
                            position: absolute;
                        }
    
                        button {
                            padding: .5rem;
                            border: none;
                            border-radius: 0;
    
                            img {
                                width: 1rem;
                                height: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}