.container {
    padding: 8px;
    flex-direction: column;
    gap: 4px;
}

.menu {
    width: 100%;
    height: 100%;
    gap: 8px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    position: relative;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 1);
}

.headH1 {
    font-size: 14px;

    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
}

.section {
    width: 100%;
    height: 180px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: auto;
}

.items {
    width: 100%;
    height: 100%;
    min-height: 120px;
    display: flex;  
    overflow-x: scroll;
    gap: 8px;
    padding: 8px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.75px);
    -webkit-backdrop-filter: blur(3.75px);
    border: 1px solid rgba(255, 255, 255, 1);
}

.item {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 8px;

    width: 60%;
    max-width: 230px;
    min-width: 130px;
    height: 100%;

    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 1);
    cursor: pointer;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.title {
    width: auto;
    font-weight: 800;
    text-align: start;
    font-size: 13px;
    text-transform: uppercase;
}

.foodTitle {
    font-size: 12px;
    font-weight: 700;
    text-align: start;
    z-index: 1;
    max-width: 60%;
    word-wrap: break-word;
    white-space: normal;
    line-height: 1;
}

p {
    font-size: 11px;
    width: auto;
    font-weight: 600;
    text-align: end;
    z-index: 1;
}

.shadow-bottom {
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
    position: absolute;
    width: 100%;
    height: 35%;
    bottom: 0;
    left: 0;
    transition: all 1s;
}

.item:hover {
    .shadow-bottom {
        height: 50%;
    }
}

.scroll-btn {
    width: 50px;
    height: 50px;
  
    bottom: 8px;
    left: calc(50% - 25px);
    cursor: pointer;
    position: absolute;
  
    border-radius: 50%;
    background: rgba(55, 55, 55, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.5px);
    -webkit-backdrop-filter: blur(8.5px);
    border: 1px solid rgba(255, 255, 255, 1);
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    padding-top: 4px;
    transition: 1s all;
  }
  
  .scroll-btn img {
    rotate: 90deg;
    height: 50%;
    width: 70%;
    animation: bounce 2s infinite ease-in-out;
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateX(-2.5);
    }
    50% {
      transform: translateX(2.5px);
    }
  }
  
  .rotated {
    padding-top: 0px;
    padding-bottom: 4px;
    transform: rotate(180deg);
  }
  