.backBtn {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    display: flex !important;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    img {
        width: 2rem;
        height: auto;
    }
}

.productContainer {
    display: flex !important;
    flex-direction: column;
    margin: .5rem;
    align-items: center;

    .name {
        display: flex !important;
        flex-direction: row;
        padding: .5rem 1rem;
        width: 100%;
        height: auto;
        word-break: break-all;
        font-weight: 600;
        font-size: 1.25rem;
    }

    .price-tag {
        display: flex !important;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        padding: .5rem 1rem;
        width: 100%;
        height: auto;

        .price {
            font-weight: 600;
        }

        .tag {
            font-size: 1rem;
        }
    }

    .details {
        display: flex !important;
        flex-direction: row;
        width: 90%;
        height: auto;
        gap: 1rem;

        .productImg {
            width: 45%;
            aspect-ratio: 1/1;
            object-fit: cover;
            background-color: var(--gray);
            border-radius: .25rem;
        }

        .description-ingredients {
            width: 55%;
            display: flex !important;
            flex-direction: column;
            gap: 1rem;
            height: auto;

            .ingredientsTitle {
                display: flex !important;
                flex-direction: row;
                width: auto;
                height: auto;
                font-weight: 600;
            }

            .descriptionTitle {
                display: flex !important;
                flex-direction: row;
                width: auto;
                height: auto;
                font-weight: 600;
            }

            .ingredients {
                display: flex !important;
                flex-direction: row;
                width: auto;
                height: auto;
            }
            
            .description {
                display: flex !important;
                width: auto;
                height: auto;
                flex-direction: column;
                gap: .5rem;
            }
        }
    }

    .btns {
        display: flex !important;
        flex-direction: row;
        justify-content: space-between;
        padding: .5rem 1rem;
        width: 100%;
        height: auto;
        gap: 1rem;

        button {
            border: 2px solid var(--light-blue);
            border-radius: .5rem;
            color: var(--light-blue);
            font-weight: 600;
            display: flex !important;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: .5rem;
            width: fit-content;
            height: fit-content;
            gap: .5rem;
            width: 55%;

            img {
                width: 1rem;
                height: 1rem;
                fill: var(--light-blue);
            }
        }

        .quantitySelector {
            display: flex !important;
            flex-direction: row;
            gap: 0.5rem;
            width: 45%;

            p {
                color: var(--light-blue);
                width: auto;
                height: auto;
                display: flex !important;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                font-weight: 600;
                padding: .5rem;
            }

            .quantityBtns {
                display: flex !important;
                flex-direction: row;
                border-radius: .5rem;
                border: 2px solid var(--light-blue);
                align-items: center;
                justify-content: space-between;
                height: auto;
                position: relative;
                width: 100%;

                &::after {
                    content: '';
                    display: block;
                    width: 2px;
                    height: 100%;
                    background-color: var(--light-blue);
                    top: 0;
                    left: calc(50% - 1px);
                    position: absolute;
                }

                button {
                    padding: .5rem;
                    border: none;
                    border-radius: 0;

                    img {
                        width: 1rem;
                        height: 1rem;
                    }
                }
            }
        }
    }
}