.menuContainer {
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.75px);
    -webkit-backdrop-filter: blur(3.75px);
    border-bottom: 1px solid rgba(255, 255, 255, 1);

    width: 100%;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    font-size: 20px;
    text-transform: uppercase;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.section {
    width: 100%;
    height: 160px;
    display: flex;
    overflow-x: scroll;
    padding: 8px;
}

.item {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 8px;

    width: 50%;
    height: 100%;

    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 1);
    cursor: pointer;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

h1 {
    font-size: 18px;
    width: auto;
    font-weight: 600;
    text-align: start;
    z-index: 1;
}

p {
    font-size: 14px;
    width: auto;
    font-weight: 600;
    text-align: end;
    z-index: 1;
}

.shadow-bottom {
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
    position: absolute;
    width: 100%;
    height: 25%;
    bottom: 0;
    left: 0;
    transition: all 1s;
}

.item:hover {
    .shadow-bottom {
        height: 50%;
    }
}