@tailwind base;
@tailwind components;
@tailwind utilities;

*{

  color: #fff;

  font-size: 16px;
  font-weight: 500;

  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100dvh;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgb(255,194,0);
  background: radial-gradient(circle, rgba(255,194,0,1) 0%, rgba(255,117,0,1) 50%, rgba(255,77,77,1) 100%);
}

.masterContainer {
  width: 95%;
  height: 95%;

  background: rgba(255, 255, 255, 0.35);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border: 1px solid rgba(255, 255, 255, 1);

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}