.productMasterContainer {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.75px);
    -webkit-backdrop-filter: blur(6.75px);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.productContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 95%;
    height: 95%;
    flex-direction: column;
}

.productContainer img {
    width: 97%;
    height: 40%;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.productInfo {
    width: 100%;
    height: 57.5%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(55, 55, 55, 0.35);
    border-radius: 16px 16px 0 0;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(13.5px);
    -webkit-backdrop-filter: blur(13.5px);
    border-top: 2px solid rgba(255, 255, 255, .5);
}